*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.top-bg{
    background-image: url(imgs/bg-pic.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    background-color: #0e0d0db9;
    margin-bottom: 50px;
  
}
.heading-title{
    width: 40%;
    top: 15%;
    left: 15%;
    position: absolute;   
}
.heading-title h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
#title-paragraph{
    color: white;
    text-align: justify;
    font-size: 16px;
    padding-left: -20px;
}
.donate-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(#EF233C , #EF233C);
    padding: 15px 25px;
    border-radius: 5px;
}
section{
    width: 100%;
    height: 550px;
    margin-bottom: 70px;
    display: flex;
}

.half-div{
    Margin-left:1% ;
    padding: 8%;
    padding-left: 10%;
    width: 40%;
    
}

.half-div h1{
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.videos{
    width: 40%;
    position: absolute;
    top: 620px;
    left: 50%;
    height: 550px;
}
img{
    width: 100%;
    padding-left: 10%; 
    
}
.donation-declation{
    width: 100%;
    height:200px;
}
.text-align{
    margin-bottom: 40px;
    color: black;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.donation-area{
    
    display: flex;
    width: 100%;
    margin: 0;
    height: 250px;    
}

.icon-area{
    height: 200px;
    display: flex;
    margin-left: 13%; 
    width: 30%;  
    background-color: #FEF4F5;
    border-radius: 10px;
}
.icon {
    padding-top: 30px;
    width: 50px;
    height: 50px;
    

}
.title{
    font-size: 20px;
    font-weight: bold;
}
.donation-paragraph{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.img-section{margin-top: 60px;
    display: flex;
    height: 400px;
}
.monajat{
    height: 400px;
    padding-left: 5%;
    width: 25%;     
}
.monajat-img{
    width: 100%;
   
}
.last-padding{
    padding-left:50px;
}
.color{
    color: red;
}
.shadow{
    box-shadow: 0 0 10px;
}
.donate-section{
    height: 500px;
    display: flex;
}
.zakat-fund{
    background-image: url(imgs/Rectangle\ 252.png);
    background-repeat: no-repeat;
    width:25%;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    
}
.text-donation{
    display: block;
    margin-top: 250px; 
}
.red-color{
    color:red;
}
footer{
    width: 100%;
    height: 177px;
    background-color: #0B0D17;
    text-align: center;
}
#color-red{
    font-family: 'Dancing Script', cursiv;
    padding-top: 60px;
    color: red;
}
#color-white{
    color: white;
}

    
    
    
